DB_URL=jdbc:mysql://localhost:3306/jewelry_product_db?createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=UTC
DB_USERNAME=root
DB_PASSWORD=root
JWT_SECRET=8f8303f25608d408eb19d425f1901a52e26922573f08f863e414c6e949cb24e8
EUREKA_SERVER_URL=http://localhost:8761/eureka
